@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap');

*,
*::before,
*::after {
    margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

img {
	border: 0;
	vertical-align: top;

}

body {
	height: 100%;
	font-family: 'Nunito Sans', 'Arial', 'Times New Roman', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	background-color: #FFFFFF;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

.slider-mobile,
.control-video-mobile,
.first-checkbox-mobile,
.underline-mobile {
	display: none;
}

.button {
	text-transform: uppercase;
	border: 0;
	background: 0;
	color:#FFFFFF;
	font-weight: inherit;
	font-family: inherit;
	font-size: 11px;
	line-height: 15px;
	cursor: pointer;
}

.input {
	outline: 0;
	padding-bottom: 7px;
	background: 0;
}

.input::placeholder {
	font-size: 14px;
	line-height: 23px;
	font-family: 'Nunito Sans', 'Arial', 'Times New Roman', sans-serif;
	font-weight: 400;
}

.label {	
	font-size: 13px;
	line-height: 21px;
	font-family: inherit;
	font-weight: inherit;
}

.subtitle {
	font-family: 'Yeseva One', 'Arial', 'Times New Roman', sans-serif;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	font-weight: inherit;
	color: #181818;
}

.container-flex {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header{
	background-color: #131313;
	height: 83px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 15px;
}

.logo {
	color: #E3B873;
	text-transform: uppercase;
}

.nav {
	padding-left: 95px;
	padding-right: 67px;
}

.menu {
	display: flex;
}

.menu-item {
	margin-left: 47px;
}

.menu-item:first-child {
	margin: 0;
}

.menu-link {
	color: inherit;
	text-transform: uppercase;
}

.menu-link:visited {
	color: inherit;
}

.menu-link:hover {
	color: #E3B873;
}

.phone {
	text-align: right;
}

.phone-number {
	color: #E3B873;
	text-decoration: underline;
}

.button-callback {		
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	background-color: #E3B873;
	font-style: italic;
	border-radius: 2px;
	min-width: 161px;
	min-height: 37px;
}

.button-calc {
	background-color: #E3B873;
	font-style: italic;
	border-radius: 2px;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	min-width: 207px;
	min-height: 51px;
}

.button-transparent {
	font-style: italic;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	min-width: 207px;
	min-height: 51px;
}

.hero {
	height: 707px;
	background-image: url("../images/hero.jpg");
	background-size: cover;	
	color: #FFFFFF;
	position: relative;
}

.hero::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-color: #000000;
	opacity:0.7;
	width: 100%;
	height: 100%
}

.hero-content {
	padding-left: 42px;
	padding-top: 194px;
	padding-bottom: 198px;
	z-index: 1;
	position: relative;
}

.hero-content-title {
	font-family: 'Yeseva One', 'Arial', 'Times New Roman', sans-serif;
	font-weight: inherit;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.hero-content-beige {
	color: #E3B873;
}

.hero-content-text {
	font-size: 22px;
	line-height: 36px;
	padding: 20px 0px;
}

.hero-content-text br:nth-child(2) {
	display: none;
}

.hero-buttons {
	display: flex;
	gap: 20px;
}

.completed {
	background-color: #131313;
	padding-top: 117px;
	padding-bottom: 404px;
	height: 100%;
}

.completed-container {
	max-width: 1171px;
	margin: 0 auto;	
	
}

.completed-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.completed-left {
	padding-right: 50px;
}

.title {
	color: #E3B873;
	text-transform: uppercase;
	font-family: 'Yeseva One', 'Arial', 'Times New Roman', sans-serif;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	font-weight: inherit;
}

.completed-text {
	padding-top: 34px;
	font-size: 14px;
	line-height: 27px;
	font-weight: inherit;
	font-family: inherit;
}

.completed-info {
	padding-top: 42px;
	display: flex;
	gap: 65px;
}

.list-title {
	font-family: 'Yeseva One', 'Arial', 'Times New Roman', sans-serif;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #E3B873;
	font-weight: inherit;
}

.list-details {
	font-size: 13px;
	line-height: 21px;
	font-weight: inherit;
	font-family: inherit;
	padding-top: 9px;
}

.list-left-position {
	padding-top: 34px;
}

.list-right-position {
	padding-top: 55px;
}

.nav-button {
	background: 0;	
}

.nav-button:not(:first-child):not(:last-child) {
	height: 9.6px;
	width: 9.6px;
	border-radius: 50%;
}


.nav-button:hover,
.nav-button:focus {
	cursor: pointer;
	background-color: #FFFFFF;
	height: 9.6px;
	width: 9.6px;
	border-radius: 50%;
}

.nav-button:first-child.nav-button:hover, 
.nav-button:last-child.nav-button:hover,
.nav-button:first-child.nav-button:focus, 
.nav-button:last-child.nav-button:focus {
	background-color:inherit;
	height: inherit;
	width: inherit;
	border-radius: inherit;
}

.nav-button:nth-last-child(3) {
	margin-left: 17px;
	margin-right: 17px;
}

.nav-button:first-child {
	margin-right: 29px;
}
	
.nav-button:last-child {
	margin-left: 29px;
}	

.slider-control {
	padding-top: 67px;
}

.slider-image {
	filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.15));
}

.slider-img {
	width: 679px;
	height: 482px;
}

.slider-buttons {
	padding-bottom: 45px;
	padding-left: 491px;
}

.slider-button {
	font-family: 'Yeseva One', 'Arial', 'Times New Roman', sans-serif;
	font-weight: inherit;
	font-size: 14px;
	line-height: 19px;
	color: rgba(255, 255, 255, 0.3);
	padding-bottom: 6px;
	margin-left: 60px;
}

.slider-button:first-child {
	margin-left: 0;
}

.slider-button:hover, .slider-button:focus, .slider-button:active {
	border-bottom: 1px solid #E3B873;
	color: #E3B873;
	padding-bottom: 5px;
}

.control-position {
	margin-top: -288px;
}

.control-container {
	max-width: 817px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
}

.control-title {
	color: inherit;
}

.section-icon-line {
	height: 2px;
	width: 32px;
	background-color: #E3B873;
	border-radius: 30px;
}

.section-icon {
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 9px;
}

.section-icon-position {
	margin-top: 12px;
	margin-bottom: 29px;
}

.control-video {
	position: relative;
	background-color: #181818;
	filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
	filter: opacity(20%);
}

.control-video-container {
	position: relative;
	background-color: #000000;
	max-height: 434px;
	max-width: 817px;
}

.control-video-play {
	position:absolute;
	top: 174px;
	left: 365px;
	background-color: #E3B873;
	border-radius: 50%;
	width: 85px;
	height: 85px;
	box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
	cursor: pointer;
}

.control-video-play-icon {
	margin-left: 6px;
}

.control-line {
	width: 55px;
	height: 1.5px;
	background-color: #E3B873;
	border-radius: 30px;
}

.control-line-position {
	margin: 62px 0px 34px 0px;
}

.control-text {
	color: #363636;
	font-family: inherit;
	font-weight: inherit;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	padding: 0px 68px 61px 68px;
}

.broadcast-request {
	padding-top: 91px;
	width: 100%;
}

.broadcast-form-y {
	display: flex;
	flex-direction: column;
	gap: 33px;
	align-items: center;
}

.broadcast-form-x {
	display: flex;
	width: 769px;
	justify-content: space-between;	
}
.broadcast-input-text {
	color: #363636;
	width: 231px;
	font-size: 14px;
	line-height: 23px;
	font-family: inherit;
	font-weight: inherit;
}

.broadcast-input-text:-webkit-autofill {
    box-shadow: none;								/* for compatibility */
    -webkit-box-shadow: 0 0 0 50px #FFFFFF inset; /* input field background color is set to form background color */
    -webkit-text-fill-color: #363636;			   /* input field text color is set to placeholder color (#363636) */
}

.broadcast-input-text::placeholder {
	color: #363636;
	font-family: 'Nunito Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
}

.broadcast-input-label {
	color: rgba(54, 54, 54, 0.5);
}

.submit-button {
	background-color: #E3B873;
	text-align: center;
	min-width: 200px;
	min-height: 51px;
}

.broadcast-input {
	width: 231px;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.checkbox-text {
	margin-left: 8px;
}

.checkbox-label {
	cursor: pointer;
	color: #181818;
	font-size: 14px;
	line-height: 163.68%;
	font-family: inherit;
	font-weight: inherit;
}

.checkbox{
	display: none;
}

.fake{
	display: inline-flex;
	width: 18px;
	height: 18px;
	background: #E3B873;
	color: #fff;
	justify-content: center;
}

.fake::before{
	content:"\2714";
	opacity: 0;
	transition: .2s;
}

.checkbox:checked + .fake::before{
	opacity: 1;
}

.types-of-repair {
	padding-top: 126px;
}

.container {
	max-width: 1256px;
	margin: 0 auto;
}

.types-of-repair-flex {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.types-of-repair-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.types-of-repair-title {
	font-family: 'Yeseva One';
	font-weight: inherit;
	font-size: 18px;
	line-height: 25px;
	color: #363636;
	text-transform: capitalize;
}

.types-of-repair-content {
	padding:25px 31px 49px 31px;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
	width: 330px;
}

.types-of-repair-img {
	width: 392px;
	height: 421px;
	object-fit: contain;
}

.types-of-repair-list {
	padding-top: 13px;
}

.types-of-repair-content-item {
	list-style: disc;
	list-style-position: inside;
	font-family: inherit;
	font-weight: inherit;
	color: #959595;
	font-size: 13px;
	line-height: 27px;
	text-align: left;
}

.types-of-repair-content-position {
	margin-top: -127px;
}

.types-of-repair-price {
	font-family: 'Yeseva One';
	font-weight: inherit;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	background-color: #E3B873;
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	text-align: center;
	padding: 17px 0px 17px 0px;
	width: 228px;
	height: 54px;
	margin: -27px 0px 124px -102px;
}

.request-consultation {
	background-image: url("../images/section5_background.png");
	background-repeat: no-repeat;
	padding-top: 106px;
}

.request-consultation-container {
	max-width: 1256px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.consultation-list-position {
	margin-left: 156px;
}

.request-form {
	background-color: #131313;
	min-height: 509px;
	box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.list-style {
	background-color: #E3B873;
	border-radius: 50%;
	width: 58px;
	height: 58px;
	border: 8px solid #FFFFFF;
	text-align: center;
	font-family: 'Yeseva One';
	font-weight: inherit;
	font-size: 18px;
	line-height: 25px;
	padding-top: 9px;
	color: #FFFFFF;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.consultation-list-item {
	font-family: inherit;
	font-weight: inherit;
	font-size: 14px;
	line-height: 19px;
	color: #363636;
	display: flex;
	align-items: center;
	padding-bottom: 86px;
}

.consultation-list-item:last-child {
	padding-bottom: 0;
}

.request-consultation-right {
	display: flex;
	flex-direction: column;
}

.request-consultation-form {
	padding: 0px 49px 27px 49px;
}

.request-consultation-form-title {
	font-family: inherit;
	font-weight: inherit;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	padding: 28px 104px 39px 104px;
}

.black-input-text::placeholder {
	color: #FFFFFF;
	font-family: 'Nunito Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	background-color: inherit;
}

.black-input-text {
	padding-bottom: 9px;
	color: #FFFFFF;
}

.black-input-text:-webkit-autofill {
	box-shadow: none;								/* for compatibility */
    -webkit-box-shadow: 0 0 0 50px #131313 inset; /* input field background color is set to form background color */
    -webkit-text-fill-color: #FFFFFF;			   /* input field text color is set to white (placeholder color) */
}

.e-mail:invalid {
color: red;										/* doesn't work with autofill (as expected) */
}

.request-consultation-input {
	background: 0;
	width: 408px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding-top: 48px;
}

.request-consultation-input:first-child {
	padding-top: 0;
}

.gray-label {
	color: rgba(255, 255, 255, 0.5);
}

.checkbox-label-white {
	color: #FFFFFF;
}

.second-checkbox {
	padding: 16px 0px 39px 0px;
}

.request-consultation-button {
	font-size: 13px;
	line-height: 21px;
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	min-width: 213px;
	min-height: 51px;
	margin-left: 195px;
}

.discount {
	display: flex;
	align-items: center;
	padding-top: 38px;
}

.discount-icon {
	width: 72px;
	height: 72px;
	border-radius: 50px;
	background-color: #E3B873;
	border:0;
}

.discount {
	display: flex;
}

.discount-text {
	color: #E3B873;
	padding-left: 25px;
	font-family: inherit;
	font-weight: inherit;
	font-size: 18px;
	line-height: 26px;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.discount-icon-img {
	padding-top: 18px;
	padding-left: 17px;
}

.gallery {
	background-image: url("../images/gallery-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 864px;
}

.gallery-position {
	margin-top: 247px;
}

.gallery::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-color: #000000;
	opacity:0.75;
	width: 100%;
	height: 100%
}

.gallery-container-flex {
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	position: relative;
}

.gallery-right {
	display: flex;
	gap: 43px;
}

.gallery-right-column1 {
	display: flex;
	flex-direction: column;
	gap: 38px;
}

.gallery-right-column2 {
	display: flex;
	flex-direction: column;
	gap: 38px;
}

.gallery-right-column1-position {
	margin-top: -40px;
}

.gallery-right-column2-position {
	margin-top: -112px;
}

.gallery-title {
	letter-spacing: normal;
	padding-bottom: 47px;
	padding-top: 137px;
}

.gallery-buttons-item {
	padding-top: 23px;
}

.gallery-buttons-item:first-child {
	padding-top: 0;
}

.gallery-button {
	font-family: inherit;
	font-weight: inherit;
	font-size: 20px;
	text-transform: none;
	text-align: left;
	width: fit-content;
	height: 24px;
	padding-bottom: 6px;
}

.gallery-button:hover, .gallery-button:focus, .gallery-button:active {
	border-bottom: 1px solid #E3B873;
	color: #E3B873;
	padding-bottom: 5px;
}

.feedback {
	padding-top: 110px;
	background-image: url("../images/background.png");
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	background-position: bottom;
	padding-bottom: 398px;
}

.feedback-position {
	position: relative;
	z-index: 2;
}

.feedback::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-color: #FFFFFF;
	opacity:0.95;
	width: 100%;
	height: 100%
}

.feedback-text {
	font-family: inherit;
	font-weight: inherit;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	color: #363636;
	padding-bottom: 39px;
}

.feedback-cards {
	display: flex;
	justify-content: space-between;
	padding-top: 29px;
}

.feedback-cards-item {
	width: 376px;
	height: 428px;
	background-color: #FFFFFF;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.feedback-content {
	display: flex;
	flex-direction: column;
}

.feedback-client-name {
	font-family: 'Yeseva One';
	font-weight: inherit;
	font-size: 18px;
	line-height: 23px;
	color: #181818;
}

.feedback-client-info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 23px;
	padding: 24px 0px 0px 32px;
}

.feedback-client-img {
	width: 76px;
	height: 76px;
	border-radius: 50%;
}

.feedback-content-text {
	font-family: inherit;
	font-weight: inherit;
	font-size: 13px;
	line-height: 180%;
	color: #959595;
	padding: 22px 32px 0px 32px;
	max-height: 278px;
	overflow: hidden;
}

.feedback-work-info {
	width: 294px;
	height: 54px;
	background-color: #E3B873;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: -27px;
}

.vertical-line {
	width: 2px;
	height: 54px;
	background-color:#FFFFFF;
	margin-left: 17px;
	margin-right: 17px;
}

.feedback-work-info-text {
	font-family: 'Yeseva One';
	font-weight: inherit;
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;
	padding-left: 15px;
}

.contacts {
	background-image: url("../images/contacts_background.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.contacts::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-color: #000000;
	opacity:0.8;
	width: 100%;
	height: 100%
}

.contacts-container {
	width: 925px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.address {
	color: #E3B873;
	padding: 52px 0px 26px 0px;
}

.address br:nth-child(2) {
	display: none;
}

.contacts-form {
	display: flex;
	flex-direction: column;
	background-color: #181818;
	align-items: center;
	width: 883px;
	height: 445.32px;
	padding: 34p 181px 0px 181px;
	position: relative;
}

.contacts-form-position {
	margin-top: -203px;
}

.form {
	padding-top: 45px;
}

.form-top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 48px;
	gap: 58px;
}

.form-bottom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.form-top-dimensions {
	width: 231px;
}

.form-middle-dimensions {
	width: 517px;
}

.subtitle-contacts-form {
	color: #FFFFFF;
	padding-top: 34px;
}

.contacts-input {
	background: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);	
}

.third-checkbox {
	padding: 47px 0px 28px 0px;
}

.contacts-links {
	padding-bottom: 43px;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.email, .instagram {
	display: block;
	width: 28px;
	height: 28px;
}

.contacts-map {
	padding-bottom: 66px;
	filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
}

.footer {
	background-color: #181818;
	height: 133px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 15px;
}


/*===mobile styles===*/

@media all and (max-width: 1300px) {

	.input {
		padding: 2px;
	}

	.subtitle {
		font-size: 22px;
		line-height: 138.6%;
	}

	.header{
		height: 57px;
		background-color: #181818;
	}

	.container {
		max-width: 340px;
		margin: 0 auto;
	}

	.nav {
		display: none;
	}

	.button-callback {
		display: none;
	}

	.phone-number {
		color: #FFFFFF;
	}

	.hero-content {
		max-width: 340px;
		display: flex;
		flex-direction: column;
		align-self: baseline;
		padding: 85px 0px 61px 0px;
	}

	.hero-content-title {
		font-size: 23px;
		line-height: 132.83%
	}

	.hero-content-text {
		padding: 16px 0px 48px 0px;
		font-size: 14px;
		line-height: 135.84%
	}

	.hero-content-text br:nth-child(2) {
		display: block;
	}

	.hero-content-text br:last-child {
		display: none;
	}

	.hero-buttons {
		flex-direction: column;
		gap: 26px;
	}

	.button-calc, .button-transparent {
		box-shadow: none;
		
	}
	
	.hero {
		height: 476px;
	}

	.mobile-hide {
		display: none;
	}

	.completed {
		background-color: #181818;
		padding-bottom: 0;
		padding-top: 36px;
	}

	.completed-container {
		max-width: 340px;
	}

	.completed-left {
		padding-right: 0;
	}

	.title {
		text-align: center;
		font-size: 22px;
		line-height: 138.6%;
	}

	.completed-text {
		font-size: 11px;
		line-height: 158.48%;
		text-align: center;
		padding: 22px 15px 72px 15px;
	}

	.completed-info {
		padding: 36px 0px 58px 0px;
		gap: 61px;
	}

	.list-title {
		font-size: 14px;
		line-height: 138.6%;
	}

	.list-details {
		font-size: 11px;
		line-height: 135.84%;
		padding-top: 12px
	}

	.list-left-position {
		padding-top: 36px;
	}
	
	.list-right-position {
		padding-top: 51px;
	}

	.completed-right {
		display: none;
	}

	.slider-buttons {
		display: none;
	}

	.slider-control {
		display: none;
	}

	.slider-mobile {
		display: block;
		text-align: center;
		position: relative;
	}

	.slider-img {
		max-width: 340px;
		max-height: 242px;
		object-fit: cover;
		position: relative;
	}

	.slider-nav-mobile {
		position: absolute;
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		top: 103px;
	}

	.arrow-mobile {
		background-color: #E3B873;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		margin-right: 14px;
		padding: 11px 0px 0px 2px;
	}

	.arrow-mobile:first-child {
		transform: rotate(-180deg);
		margin-right: 0px;
		margin-left: 14px;
	}

	.control {
		background-color: #181818;
	}

	.control-container {
		max-width: 340px;
	}
	
	.control-position {
		margin: 0;
	}

	.section-icon-position {
		margin: 19px 0px 40px 0px;
	}

	.control-video-container {
		max-height: 207px;
		max-width: 340px;
	}

	.control-video {
		display: none;
	}

	.control-video-mobile {
		display: block;
		position: relative;
		box-shadow: 0px 20px 30px rgba(24, 24, 24, 0.1);
		filter: opacity(20%);
	}

	.control-video-play {
		top: 85px;
		left: 152px;
		background-color: #E3B873;
		width: 37px;
		height: 37px;
		text-align: center;
	}
	
	.control-video-play-icon {
		width: 12px;
		height: 12px;
		margin-right: 4px;
		margin-top: 2px;
		
	}

	.control-line-position {
		margin: 28px 0px 21px 0px;
	}

	.control-text {
		color: #FFFFFF;
		font-size: 11px;
		line-height: 169.8%;
		padding: 0px 0px 61px 0px;
	}

	.broadcast-request {
		padding: 0;
	}

	.broadcast-form-y {
		width: 100%;
	}
	
	.broadcast-form-x {	
		flex-direction: column;
		width: 100%;
		justify-content: flex-start;
	}

	.first-checkbox {
		display: none;
	}

	.first-checkbox-mobile {
		display: block;
		padding-top: 26px;
	}

	.broadcast-input-label {
		color: rgba(255, 255, 255, 0.5);
	}

	.broadcast-input-text::placeholder {
		color: #FFFFFF;
		font-family: 'Nunito Sans';
		font-weight: 400;
		font-size: 14px;
		line-height: 138.72%;
	}

	.broadcast-input-text {
		color: #FFFFFF;
		width: 340px;
		line-height: 138.72%;
	}

	.broadcast-input {
		width: 340px;
		border: 0;
		padding-top: 63px;
	}

	.broadcast-input:first-child {
		padding-top: 0;
	}
	
	.underline-mobile {
		display: block;
		height: 1px;
		max-width: 340px;
		background: #FFFFFF;
		border: 1px solid rgba(54, 54, 54, 0.3);
		transform: matrix(1, 0, 0, -1, 0, 0);
	}

	.checkbox-label {
		color: #FFFFFF;
	}

	.submit-button {	
		height: 51px;
		width: 100%
	}

	.mobile-position {
		margin-top: 62px;
		margin-bottom: -25px;
	}

	.types-of-repair {
		padding-top: 83px;
	}

	.types-of-repair-flex {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 59px;
	}

	.types-of-repair-card {
		align-items: baseline;
		justify-content: flex-start;		
	}

	.types-of-repair-title {
		font-size: 15px;
		line-height: 138.6%;
	}

	.types-of-repair-list {
		padding-top: 10px;
	}

	.types-of-repair-content {
		padding:21px 30px 37px 30px;
		box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
		width: 270px;
	}

	.types-of-repair-content-position {
		margin-top: -142px;
	}
	
	.types-of-repair-img {
		max-width: 340px;
		max-height: 365px;
		object-fit: contain;
	}

	.types-of-repair-content-item {
		font-size: 13px;
		line-height: 169.8%;
	}

	.types-of-repair-price {
		font-size: 15px;
		line-height: 138.6%;
		padding: 11px 0px 11px 0px;		
		width: 190px;
		height: 40px;
		margin: -20px 0px 0px 0px;
	}

	.request-consultation {
		display: none;
	}

	.feedback {
		display: none;
	}

	.gallery-buttons {
		display: none;
	}

	.gallery-right {
		display: none;
	}

	.gallery {
		background-image: url("");
		height: 100%;
	}

	.gallery-position {
		margin-top: 0;
	}
	
	.gallery::before {
		display: none;
	}

	.gallery-title {
		letter-spacing: normal;
		padding-bottom: 24px;
		padding-top: 75px;
	}

	.gallery-mobile-img {
		max-width: 340px;
		max-height: 242px;
		object-fit: contain;
	}

	.contacts {
		background-image: url("");
		background-color: #181818;	
	}

	.contacts::before {
		display: none;
	}

	.contacts-mobile {
		margin-top: -121px;
	}

	.contacts-form {
		max-width: 340px;
		height: 100%;
		order: 1;
	}
	
	.contacts-form-position {
		margin-top: 173px;
	}

	.subtitle-contacts-form {
		color: #FFFFFF;
		padding: 0;
		font-size: 20px;
		line-height: 28px;
	}

	.contacts-container {
		max-width: 340px;
		margin: 0 auto;
	}

	.form {
		padding-top: 52px;
	}
	
	.form-top {
		flex-direction: column;
		justify-content: flex-start;
		padding: 0;
		max-width: 340px;
		gap: 0;
	}
	
	.form-bottom {
		justify-content: flex-start;		
	}

	.form-top-dimensions {
		width: 340px;
	}
	
	.form-middle-dimensions {
		max-width: 340px;
	}
	
	.black-input-text {
		padding: 0;
		color: #FFFFFF;
	}

	.contacts-input {
		background: 0;
		border: 0;
		padding-top: 63px;
	}

	.form-top .contacts-input:first-child {
		padding: 0;
	}

	.third-checkbox {
		padding: 21px 0px 67px 0px;
	}

	.map {
		max-width: 340px;
		height: 255px;
	}

	.contacts-map {
		order: 2;
		padding: 46px 0px 0px 0px;
	}

	.address {
		order: 3;
		padding: 42px 0px 23px 0px;
		font-size: 18px;
	}

	.address br {
		display: none;
	}

	.address br:nth-child(2) {
		display: block;
	}
	

	.contacts-links {
		order: 4;
		padding: 0;
		gap: 21px;
	}

	.email, .instagram {
		width: 39px;
		height: 39px;
	}
	
	.footer {
		height: 49px;
	}

	.footer .container {
		display: none;
	}
		
	
  }
